<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{training.authorize.title}, ~{::authorize_trainings})">
</html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="authorize_trainings">
    <div class="ui container">
        <a class="ui animated button" th:href="@{/admin/trainings}">
            <div class="visible content">Zurück</div>
            <div class="hidden content">
                <i class="left arrow icon"></i>
            </div>
        </a>

        <p class="ui negative message" th:if="${#fields.hasErrors('*')}" th:each="err : ${#fields.errors('*')}"
           th:text="${err}">
        </p>

        <table class="ui celled table" id="catalog">
            <thead>
            <tr>
                <th>ID</th>
                <th>Typ</th>
                <th>Mitglied</th>
                <th>Trainer</th>
                <th>Wünsche</th>
                <th>Woche</th>
                <th>Tag</th>
                <th>Zeit</th>
                <th>Aktion</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each=" training : ${requestedTrainings}">
                <td th:text="${training.trainingId}">ID</td>
                <td th:text="${training.getType().getDisplayValue()}"></td>
                <td th:text="${training.member.toString()}">Name</td>
                <td th:text="${training.trainer.toString()}">Trainer</td>
                <td th:text="${training.description}">Wuensche</td>
                <td th:text="${training.getWeek()}">Woche</td>
                <td th:text="${training.getDayAsString()}">Tag</td>
                <td th:text="${training.startTime}">Zeit</td>
                <td>
                    <a id="addbutton" class="ui green button" th:href="@{/training/accept/{id}/(id=${training.trainingId})}">
                        <label>Akzeptieren</label></a>
                    <a id="dltbutton" class="ui red button"
                       th:href="@{/training/decline/{id}/(id=${training.trainingId})}"><label>Ablehnen</label></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>