<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{training.detail.title}, ~{::details})">
</html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="details">
    <div class="ui container">

        <div class="trainer">
            <p>Trainer:
            <span th:text="${training.trainer.toString()}"></span>
            </p>
        </div>
        <div class="description">
            <p>Beschreibung:
            <span th:text="${training.description}"></span>
            </p>
        </div>

        <div class="member">
            <p>Mitglied:
            <span th:text="${training.member.toString()}"></span>
            </p>
        </div>

        <div class="state">
            <p>Status:
            <span th:text="${training.getState()}"></span>
            </p>
        </div>

        <div class="type">
           <p>Typ:
            <span th:text="${training.type}"></span>
           </p>
        </div>

    </div>
</div>
</html>