<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{member.trainings.title}, ~{::trainings})">
</html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="trainings">
    <div class="ui container">
        <a th:if="${!member.isPaused()}" th:href="@{/member/training/create}">
            <button class="ui blue button">
                Training anfragen
            </button>
        </a>

        <table class="ui celled table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Typ</th>
                <th>Trainer</th>
                <th>Beschreibung</th>
                <th>Tag</th>
                <th>Zeit</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="training : ${trainings}">
                <td th:text="${training.trainingId}">ID</td>
                <td th:text="${training.type.getDisplayValue()}">Typ</td>
                <td th:text="${training.trainer.lastName}">Trainer</td>
                <td th:text="${training.description}">Beschreibung</td>
                <td th:text="${training.getDayAsString()}">Tag</td>
                <td th:text="${training.startTime}">Time</td>
                <td th:text="${training.state.getDisplayValue()}">Status</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>