<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>

    <title>Trainings</title>
</head>
<body>
<div class="ui container">
    <nav th:include="navigation :: navigation"></nav>
    <nav th:include="toggle :: toggle"></nav>
    <header>
        <h1>Trainings</h1>
    </header>

    <p>Es gibt <b><span th:text="${requestedTrainings}">0</span></b> neue Anfragen</p>
    <a th:href="@{/admin/training/authorize}">Bearbeiten</a>


    <table class="ui celled table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Typ</th>
            <th>Trainer</th>
            <th>Beschreibung</th>
            <th>Tag</th>
            <th>Zeit</th>
            <th>Beenden</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="training : ${trainings}">
            <td th:text="${training.trainingId}">ID</td>
            <td th:text="${training.getType().getDisplayValue()}"></td>
            <td th:text="${training.trainer.lastName}">Trainer</td>
            <td th:text="${training.description}">Beschreibung</td>
            <td th:text="${training.getDayAsString()}">Tag</td>
            <td th:text="${training.startTime}">Time</td>
            <td>
                <a class="ui red button" th:href="@{/training/end/{id}/(id=${training.trainingId})}">Beenden</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>