<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{trainings.title}, ~{::trainings})">
</html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="trainings">
    <div class="ui container">

        <div id="authorize" style="float: left; margin-bottom: 5px">
            <form th:action="@{/admin/training/authorize}">
                <label>Es gibt <b><span th:text="${requestedTrainings}">0</span></b> neue Anfragen</label>
                <button id="sbmbutton" type="submit" class="ui button blue"><b class="lbl">Bearbeiten</b></button>
            </form>
        </div>
        <table class="ui celled table" id="catalog">
            <thead>
            <tr>
                <th>ID</th>
                <th>Typ</th>
                <th>Trainer</th>
                <th>Beschreibung</th>
                <th>Tag</th>
                <th>Zeit</th>
                <th>Beenden</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="training : ${trainings}">
                <td th:text="${training.trainingId}">ID</td>
                <td th:text="${training.getType().getDisplayValue()}"></td>
                <td th:text="${training.trainer.lastName}">Trainer</td>
                <td th:text="${training.description}">Beschreibung</td>
                <td th:text="${training.getDayAsString()}">Tag</td>
                <td th:text="${training.startTime}">Time</td>
                <td>
                    <a id="dltbutton" class="ui red button" th:href="@{/training/end/{id}/(id=${training.trainingId})}">
                        <label>Absagen</label></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>