<!DOCTYPE html>

<html th:replace="site_template :: template(#{staff.add}, ~{::site_content})"
      xmlns:th="http://www.thymeleaf.org"></html>

<html th:remove="tag" xmlns:th="http://www.thymeleaf.org">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/css/toggle.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/css/template.css}" type="text/css"/>
</head>
<body>
<div class="ui container">

    <form class="ui form" id="form" method="post" role="form" th:action="@{/newStaff}" th:object="${form}">

        <p class="ui negative message" th:each="err : ${#fields.errors('*')}" th:if="${#fields.hasErrors('*')}">
            Einige Angaben sind nicht korrekt.
        </p>

        <div class="ui segment">
            <div class="field">
                <text th:text="#{register.firstName}"></text>
                <label for="firstName"></label>
                <input id="firstName" maxlength="32" name="firstName" placeholder="Vorname" required="required"
                       th:errorclass="fieldError" th:field="*{firstName}" type="text"/><br/>
                <div class="ui negative message" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">
                    <p>Der Vorname darf nicht leer sein</p>.
                </div>
            </div>

            <div class="field">
                <text th:text="#{register.lastName}"></text>
                <label for="lastName"></label>
                <input id="lastName" maxlength="32" name="lastName" placeholder="Nachname" required="required"
                       th:errorclass="fieldError" th:field="*{lastName}" type="text"/><br/>
                <div class="ui negative message" th:errors="*{lastName}" th:if="${#fields.hasErrors('firstName')}">
                    <p>Der Nachname darf nicht leer sein.</p>
                </div>
            </div>

            <div class="field">
                <text th:text="#{register.email}"></text>
                <label for="email"></label>
                <input id="email" maxlength="56" name="email" placeholder="Email" required="required" th:errorclass="fieldError"
                       th:field="*{email}" type="text"/><br/>
                <div class="ui negative message" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">
                    <p>Die Email Adresse darf nicht leer sein.</p>
                </div>
            </div>

            <div class="field">
                <text>Gehalt</text>
                <label for="salary"></label>
                <input id="salary" min="0" name="salary" placeholder="Gehalt" required="required"
                       step="0.01"
                       th:errorclass="fieldError" th:field="*{salary}" type="number"/>
                <div class="ui negative message" th:errors="*{salary}" th:if="${#fields.hasErrors('salary')}">
                    <p>Der Gehalt darf nicht leer sein.</p>
                </div>

            </div>

            <div class="field">
                <text>Username</text>
                <label for="username"></label>
                <input id="username" maxlength="16" name="name" placeholder="Username" required="required"
                       th:errorclass="fieldError" th:field="*{username}" type="text"/><br/>
                <div class="ui negative message" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">
                    <p>Der Username darf nicht leer sein.</p>
                </div>
            </div>


            <div class="field">
                <text th:text="#{register.password}"></text>
                <label for="password"></label>
                <input id="password" name="password" placeholder="passwort" required="required" th:errorclass="fieldError"
                       th:field="*{password}" type="password"/><br/>
                <div class="ui negative message" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">
                    <p> Das Passwort darf nicht leer sein. </p>
                </div>
            </div>
        </div>
        <br>
        <button class="ui button" id="addbutton"  type="submit">
            <label th:text="#{register.submit}">Registrieren</label>
        </button>
    </form>
</div>
</body>
</html>