<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{staff.edit}, ~{::site_content})"></html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/template.css}"/>
</head>

<body>
<div class="ui container">

    <form method="post" role="form" class="ui form" id="form" th:action="@{/staff/edit/{id}(id=${staff.staffId})}"
          th:object="${form}">

        <p class="ui negative message" th:if="${#fields.hasErrors('*')}" th:each="err : ${#fields.errors('*')}">
            Einige Angaben sind nicht korrekt.
        </p>

        <fieldset>
            <div class="field">
                <text th:text="#{register.firstName}"></text>
                <label for="firstName"></label>
                <input id="firstName" name="firstName" th:field="*{firstName}" th:errorclass="fieldError" type="text"
                       maxlength="32" required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    <p>Der Vorname darf nicht leer sein</p>.
                </div>
            </div>

            <div class="field">
                <text th:text="#{register.lastName}"></text>
                <label for="lastName"></label>
                <input id="lastName" name="lastName" th:field="*{lastName}" th:errorclass="fieldError" type="text"
                       maxlength="32" required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{lastName}">
                    <p>Der Nachname darf nicht leer sein.</p>
                </div>
            </div>

            <div class="field">
                <text th:text="#{register.email}"></text>
                <label for="email"></label>
                <input id="email" name="email" th:field="*{email}" th:errorclass="fieldError" type="text"
                       maxlength="56" required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    <p>Die Email Adresse darf nicht leer sein.</p>
                </div>
            </div>


        </fieldset>
        <br>
        <br>
        <button class="ui button" id="sbmbutton" name="submit" type="submit" data-submit="...Sending">
            <label>AKTUALISIEREN</label>
        </button>
    </form>
</div>
</body>
</html>