<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <title th:text="#{staff.edit}">Mitarbeiter bearbeiten</title>
</head>
<body>
<div class="ui container">
    <nav th:include="navigation :: navigation"></nav>
    <nav th:include="toggle :: toggle"></nav>
    <header>
        <h1 th:text="#{staff.edit}">Mitarbeiter bearbeiten</h1>
    </header>

    <form method="post" role="form" class="ui form" id="form" th:action="@{/staff/edit/{id}(id=${staff.staffId})}" th:object="${form}">

        <p class="ui negative message" th:if="${#fields.hasErrors('*')}" th:each="err : ${#fields.errors('*')}">
            Einige Angaben sind nicht korrekt.
        </p>

        <div class="field">
            <text th:text="#{register.firstName}"></text>
            <label for="firstName"></label>
            <input id="firstName" name="firstName" th:field="*{firstName}" th:errorclass="fieldError" type="text"
                   required="required"/><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                <p>Der Vorname darf nicht leer sein</p>.
            </div>
        </div>

        <div class="field">
            <text th:text="#{register.lastName}"></text>
            <label for="lastName"></label>
            <input id="lastName" name="lastName" th:field="*{lastName}" th:errorclass="fieldError" type="text"
                   required="required"/><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{lastName}">
                <p>Der Nachname darf nicht leer sein.</p>
            </div>
        </div>

        <div class="field">
            <text>Gehalt</text>
            <label for="salary"></label>
            <input id="salary" name="salary" th:field="*{salary}" th:errorclass="fieldError" type="number" step="0.01"
                   required="required"/>
            <div class="ui negative message" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">
                <p>Der Gehalt darf nicht leer sein.</p>
            </div>

        </div>

        <button type="submit" class="ui button" >Aktualisieren</button>
    </form>
</div>
</body>
</html>