<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template('Mitarbeiterliste', ~{::site_content})"></html>

<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/template.css}"/>
</head>
<body>
<div class="ui container">
    <table class="ui celled table" id="catalog">
        <thead>
        <tr>
            <th>ID</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Gehalt</th>


        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each=" staff : ${staffs}">
            <td><a th:href="@{/staff/{id}(id=${staff.staffId})}" th:text="${staff.staffId}">StaffID</a></td>
            <td th:text="${staff.firstName}">Vorname</td>
            <td th:text="${staff.lastName}">Nachname</td>
            <td th:text="${staff.getUserAccount().getEmail()}">Mail@email.de</td>
            <td th:text="${staff.salary}">Gehalt</td>

        </tr>
        </tbody>
    </table>

    <!-- Button -->
        <div class="column">
            <a th:href="@{/newStaff}" style="background-color:transparent">
                <button class="ui button" style="background-color:#03DAC5; border-radius: 25px">
                    <i class="plus icon"></i><label style="color:black"> Mitarbeiter hinzufügen</label>
                </button>
            </a>
        </div>
</div>
</body>
</html>