<!DOCTYPE html>

<html th:replace="site_template :: template(${staff} , ~{::staffDetail})"
      xmlns:th="http://www.thymeleaf.org"></html>

<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
</head>

<div th:fragment="staffDetail">
    <div class="ui container">
        <div class="item">
            <h2 class="header">Eigene Daten</h2>
            <p>Vorname:
                <span th:text="${staff.firstName}">Vorname</span>
            </p>
            <p>Nachname:
                <span th:text="${staff.lastName}">Nachname</span>
            </p>
            <p>ID:
                <span th:text="${staff.getStaffId()}">0000</span>
            </p>
            <h2 class="header">Gehalt</h2>
            <p>Bei Fitness Second verdienst du unglaubliche
                <span th:text="${staff.getSalary()}"></span>
                pro Monat.
            </p>
            <form class="ui form" method="post" th:action="@{/printPdfPayslip}" th:if="${staff.workedLastMonth()}">
                <button class="ui button" th:text="#{staffDetail.printPdfPayslip}" type="submit">Rechnung anzeigen
                </button>
            </form>
            <p th:if="${!staff.workedLastMonth()}">Ab nächstem Monat kannst Du hier Deine Gehaltsabrechnung sehen.</p>
        </div>
        <br>
        <br>
        <br>

        <!-- Edit button for staff-->
        <a sec:authorize="hasAnyRole('ROLE_STAFF')" th:href="@{/staff/edit/{id}(id=${staff.staffId})}">
            <button class="ui button" id="sbmbutton">
                <i class="edit icon"></i><label>Info bearbeiten</label>
            </button>
        </a>

        <form class="ui form" method="post" th:action="@{/staff/update/{id}(id=${staff.staffId})}"
              th:object="${form}">

            <fieldset class="field" sec:authorize="hasAnyRole('ROLE_BOSS')">
                <text>Gehalt</text>
                <label for="salary"></label>
                <input id="salary" min="0" name="salary" required="required" step="0.01"
                       th:errorclass="fieldError"
                       th:field="*{salary}" type="number"/>
                <div class="ui negative message" th:errors="*{salary}" th:if="${#fields.hasErrors('salary')}">
                    <p>Der Gehalt darf nicht leer sein.</p>
                </div>
                <br>
                <br>
            </fieldset>

            <!-- Edit button for boss-->
            <div class="column">
                <button class="ui button" id="sbmbutton" type="submit">
                    <i class="edit icon"></i><label>Gehalt Aktualisieren</label>
                </button>
            </div>
        </form>
        <br>
        <!-- Delete button -->

        <form method="post" sec:authorize="hasAnyRole('ROLE_BOSS')"
              th:action="@{/staff/delete/{id}(id=${staff.staffId})}">

            <button class="ui button right floated" id="dltbutton">
                <i class="trash icon"></i><label>Mitarbeiter löschen</label>
            </button>
        </form>


    </div>

</div>

</html>