<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(${staff.lastName} , ~{::staffDetail})"></html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
</head>

<div th:fragment="staffDetail">
    <div class="ui container">
        <div class="item">
            <h2 class="header">Eigene Daten</h2>
            <p>Vorname:
                <span th:text="${staff.firstName}">Vorname</span>
            </p>
            <p>Nachname:
                <span th:text="${staff.lastName}">Nachname</span>
            </p>
            <p>ID:
                <span th:text="${staff.getStaffId()}">0000</span>
            </p>
            <h2 class="header">Gehalt</h2>
            <p>Bei Fitness Second verdienst du unglaubliche
                <span th:text="${staff.getSalary()}"></span>
                pro Monat.
            </p>
            <form th:if="${staff.workedLastMonth()}" class="ui form" method="post" th:action="@{/printPdfPayslip}">
                <button type="submit" class="ui button" th:text="#{staffDetail.printPdfPayslip}">Rechnung anzeigen</button>
            </form>
            <p th:if="${!staff.workedLastMonth()}">Ab nächstem Monat kannst Du hier Deine Gehaltsabrechnung sehen.</p>
        </div>
    </div>
</div>

</html>