<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{memberAuthorize.title}, ~{::member_authorize})">
</html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="member_authorize">
    <div class="ui container">
        <a class="ui button" th:href="@{/admin/members}" style="margin-bottom: 10px">
            Zurück
        </a>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Mitglied Nr</th>
                <th>Nutzername</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Vertrag</th>
                <th>Aktion</th>
            </tr>
            </thead>
            <th:block th:each="member : ${unauthorizedMember}">
                <tr>
                    <td th:text="${member.memberId}">0000</td>
                    <td th:text="${member.userName} ">Nutzername</td>
                    <td th:text="${member.firstName}">Vorname</td>
                    <td th:text="${member.lastName}">Nachname</td>
                    <td th:text="${member.contract.name}">Vertrag</td>
                    <td>
                        <div class="buttons">
                            <a class="ui green button" th:href="@{/member/authorize/{id}/(id=${member.memberId})}">
                                Freischalten
                            </a>
                            <a class="ui red button" th:href="@{/member/delete/{id}/(id=${member.memberId})}">
                                Ablehnen
                            </a>
                        </div>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
</html>