<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{memberDetail.title}, ~{::memberDetail})"></html>

<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/resources/css/memberDetail.css}"/>
</head>

<div th:fragment="memberDetail">
    <div class="ui container">
        <div style="text-align: center">
            <div style="display: inline-block; width: available">
                <div class="info" th:style="${member.isPaused() ? 'background:#ffcccd' : 'background:#ebffcf'}">
                    <p class="box" style="border: solid #ffffff; border-radius: 10px; padding: 10px;"
                       th:text="${contractText}">
                        details
                    </p>
                </div>
            </div>
            <a th:if="${!member.isPaused()}" th:href="@{/member/memberPause}" class="ui button blue" style="display: inline-block" >
                Pausieren
            </a>
        </div>
        <div class="ui item">
            <h2 class="header">Benutzerdaten</h2>
            <p>Name:
                <span th:text="${member.firstName}">Vorname</span>
                <span th:text="${member.lastName}">Nachname</span>
            </p>
            <p>Vertrag:
                <span th:text="${member.contract.name}">Vertrag</span>
            </p>
            <p>Bonuscode:
                <span th:text="${member.getMemberId()}">0000</span>
            </p>
            <p>Guthaben:
                <span th:text="${{member.credit}}">0.00 €</span>
            </p>
            <h2>Kontodaten</h2>
            <p>IBAN:
                <span th:text="${member.creditAccount.iban}">999999999999999999</span>
            </p>
            <p>BIC:
                <span th:text="${member.creditAccount.bic}">00000000</span>
            </p>
            <h3>Aufladen</h3>
            <form class="ui form" method="post" th:action="@{/member/payin}">
                <input type="hidden" name="memberId" value="0" th:value="${member.memberId}"/>
                <fieldset class="field">
                    <p for="amount">Betrag</p>
                    <input id="amount" type="number" name="amount" min="0.01" max="9999" value="0.01"
                           step="0.01"/>
                    <br/>
                </fieldset>
                <button type="submit" class="ui labeled icon button">
                    <i class="payIn"></i> Aufladen
                </button>
            </form>
            <h2>Rechnung</h2>
            <form class="ui form" method="post" th:action="@{/printPdfInvoice}">
                <p>Durch Ihren Vertrag fallen monatlich
                    <span th:text="${member.getContract().getPrice()}"></span>
                    an.
                </p>
                <button type="submit" class="ui button" th:text="#{memberDetail.printPdfInvoice}">Rechnung anzeigen
                </button>
            </form>
            <br>
        </div>
    </div>
</div>
</body>
</html>