<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{memberDetail.title}, ~{::memberDetail})">
</html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="memberDetail">
    <div class="ui container">
        <div style="text-align: center">
            <div style="display: inline-block; width: available">
                    <div th:classappend="${member.isPaused()? 'paused' : 'active'}">
                    <div class="box" style="border-radius: 10px; padding: 10px;"
                       th:text="${contractText}">
                        details
                    </div>
                </div>
            </div>
            <a th:if="${!member.isPaused()}" th:href="@{/member/memberPause}" class="ui button blue" id="sbmbutton">
                <label>Pausieren</label>
            </a>
            <div th:switch="${member.isEnded()}" style="display: inline-block">
                <a th:case="true" th:href="@{/member/endMembership}" class="ui button red">Beenden</a>
                <button disabled th:case="*" class="ui button red" id="dltbutton">Beenden</button>
            </div>
        </div>
        <div class="ui item">
            <form class="ui form" method="get" th:action="@{/member/edit}">
                <button id="sbmbutton" type="submit" class="ui button">
                    <i class="edit icon"></i><label>Bearbeiten</label>
                </button>
            </form>
            <h2 class="header">Benutzerdaten</h2>
            <p>Name:
                <span th:text="${member.firstName}">Vorname</span>
                <span th:text="${member.lastName}">Nachname</span>
            </p>
            <p>Email:
                <span th:text="${member.getUserAccount().email}">Email</span>
            </p>
            <p>Vertrag:
                <span th:text="${member.contract.name}">Vertrag</span>
            </p>
            <p>Bonuscode:
                <span th:text="${member.getMemberId()}">0000</span>
            </p>
            <p>Guthaben:
                <span th:text="${{member.credit}}">0.00 €</span>
            </p>
            <h2>Kontodaten</h2>
            <p>IBAN:
                <span th:text="${member.creditAccount.iban}">999999999999999999</span>
            </p>
            <p>BIC:
                <span th:text="${member.creditAccount.bic}">00000000</span>
            </p>
            <h3>Aufladen</h3>
            <form class="ui form" method="post" th:action="@{/member/payin}">
                <input type="hidden" name="memberId" value="0" th:value="${member.memberId}"/>
                <fieldset id="container-label">
                    <label id="label" for="amount">Betrag</label>
                    <input id="amount" type="number" name="amount" min="0.01" max="9999" value="0.01"
                           step="0.01"/>
                    <br/>
                </fieldset>
                <button id="addbutton" type="submit" class="ui button">
                    <i class="money icon"></i><label>Aufladen</label>
                </button>
            </form>
            <h2>Rechnung</h2>
            <p>Durch Deine kluge Vertragswahl zahlst Du monatlich nur
                <span th:text="${member.getContract().getPrice().toString()}"></span>.
            </p>
            <form class="ui form" method="post" th:if="${member.wasMemberLastMonth()}" th:action="@{/printPdfInvoice}">
                <button type="submit" class="ui button" th:text="#{memberDetail.printPdfInvoice}">
                    Rechnung anzeigen
                </button>
            </form>
            <p th:if="${!member.wasMemberLastMonth()}">Ab nächstem Monat kannst Du hier Deine Rechnung sehen.</p>
            <br>
        </div>
    </div>
</div>
</html>