:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #121212;
    --third-color:#ffffff;
    --btn-color:#3700b3;
    --hover-color: #ddd;
    --hover-color2:#bbb;
    --border-color: #ddd;
    --ts-color: #f9fafb;
    --th-color: #f0f0f0;
    --special-color: #b00020;
    --specialhover-color: rgba(176, 0, 32, 0.88);
    --submit-button:#3700B3;
    --submithover-button:rgba(55, 0, 179, 0.88);
    --roster-button:#e0e1e2;
    --add-button:#018786;
    --addhover-button:rgba(1, 135, 134, 0.88);
    --paused-color:#cf6679;
    --actived-color:#ebffcf;
    --input-color:#f0f0f0;

}


[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #ffffff;
    --third-color: #1e1e2c;
    --btn-color: #bb86fc;
    --hover-color: #181824;
    --hover-color2: #383838;
    --border-color: black;
    --ts-color: #181824;
    --th-color: #181824;
    --special-color: #cf6679;
    --specialhover-color: rgba(207, 102, 121, 0.68);
    --submit-button: #bb86fc;
    --submithover-button: rgba(187, 134, 252, 0.68);
    --roster-button:black;
    --add-button:#03DAC5;
    --addhover-button:rgba(3, 218, 197, 0.67);
    --paused-color:#fd345a ;
    --actived-color:#4caf50;
    --input-color:#121220;
}


.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
em {
    margin-left: 10px;
    font-size: 1rem;
    color:var(--heading-color);
}

text {
    margin-left: 10px;
    font-size: 1rem;
    color:var(--heading-color);
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #0063bb;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#toggle
{
    position: relative;
    left: 800px;
}