<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <title>Katalog</title>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>
<nav th:include="toggle :: toggle"></nav>


<div class="container">
    <form method="post" role="form" class="ui form" id="form" th:action="@{/article}" th:object="${form}">

        <h3>Artikel hinzufügen</h3>

        <fieldset>
            <Label>Name</Label><label for="name"></label><input type="text" th:field="*{name}"
                                                                id="name"
                                                                required/>
        </fieldset>

        <fieldset>
            <Label>Preis in Euro</Label><label for="price"></label><input type="number" th:field="*{price}"
                                                                          id="price"
                                                                          required/>
        </fieldset>

        <fieldset>
            <Label>Art</Label><label for="art"></label><input type="text" th:field="*{art}"
                                                              id="art"
                                                              required/>
        </fieldset>

        <fieldset>
            <Label>Beschreibung</Label><label for="description"></label><input type="text" th:field="*{description}"
                                                                               id="description"
                                                                               required/>
        </fieldset>

        <fieldset>
            <Label>Mindesthaltbarkeitsdatum</Label><label for="expirationDate"></label><input type="date"
                                                                                              th:field="*{expirationDate}"
                                                                                              id="expirationDate"
                                                                                              required/>
        </fieldset>

        <fieldset>
            <Label>Rabatt vom</Label><label for="startDiscount"></label><input type="date"
                                                                               th:field="*{startDiscount}"
                                                                               id="startDiscount"
                                                                               required/>
        </fieldset>

        <fieldset>
            <Label>Rabatt in Prozent</Label><label for="percentDiscount"></label><input type="number"
                                                                                        th:field="*{percentDiscount}"
                                                                                        id="percentDiscount" required/>
        </fieldset>


        <fieldset>
            <Label>Rabatt bis</Label><label for="endDiscount"></label><input type="date"
                                                                             th:field="*{endDiscount}"
                                                                             id="endDiscount"
                                                                             required/>
        </fieldset>

        <fieldset>
            <Label>Anzahl</Label><label for="number"></label><input type="number"
                                                                    th:field="*{number}"
                                                                    id="number"
                                                                    required/>
        </fieldset>


        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
    </form>
</div>


</body>
</html>