<!DOCTYPE html>

<html th:replace="site_template :: template(#{sell_catalog.title}, ~{::cart_items})"></html>

<html th:remove="tag">
<head th:remove="all">
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" type="text/css"/>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
</head>

<div th:fragment="cart_items">
    <div class="ui container">
        <div class="ui header">
            <span th:text="#{cart_items.title}">Warenkorb</span>
            <a class="ui right floated button" th:href="@{/sell_catalog}">
                <i class="cart icon"></i>
                Bestellung
            </a>
        </div>
        <br>
        <div class="container" th:each="cartItem : ${cart}">
            <div class="ui segment">
                <div class="ui four column grid">

                    <div class="ui three wide left column">
                        <div class="ui header" th:text="${cartItem.getProduct().name}">Spinatsalat</div>
                    </div>
                    <div class="ui two wide right column">
                        <div class="content" th:text="'Anzahl: ' + ${cartItem.getQuantity()}">Anzahl: 12</div>
                    </div>
                    <div class="ui right aligned two wide right floated column">
                        <div class="content" th:text="${cartItem.getPrice()}">
                            12,40 EUR
                            <div class="sub header">-40%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
