<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="site_template :: template(#{cart_items.title}, ~{::cart_items})"></html>

<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
</head>

<div th:fragment="cart_items">
    <div class="ui container">

        <br>
        <div class="container" th:each="cartItem : ${cart}">
            <div class="ui segment">
                <div class="ui four column grid">

                    <div class="ui three wide left floated column">
                        <div class="ui header" th:text="${cartItem.getProduct().name}">Spinatsalat</div>
                    </div>
                    <div class="ui two wide right floated colum">
                        <div class="ui subheader" th:text="${cartItem.getPrice()}">
                            12,40 EUR
                        </div>
                    </div>
                    <div class="ui two wide right floated column">
                        <div class="ui content" th:text="'Anzahl: ' + ${cartItem.getQuantity()}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
