<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/detail.css}"/>
    <title th:text="${article.name}">Artikelname</title>
</head>
<body>
<div class="ui container">
    <nav th:include="navigation :: navigation"></nav>
    <header>
        <h1 th:text="${article.name}" style="text-align: center">Artikelname</h1>
    </header>

    <table class="ui celled table">
        <thead>
        <tr>
            <th></th>
            <th>Artikel</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Art</td>
            <td th:text="${article.art}">Art</td>
        </tr>
        <tr>
            <td>Preis</td>
            <td th:text="${{article.price}}">Preis</td>
        </tr>
        <tr>
            <td>Menge</td>
            <td th:text="${quantity}">Menge</td>
        </tr>
        </tbody>


    </table>
    <!-- Edit button -->
    <div class="ui one column centered grid">
        <div class="column">
            <a th:href="@{/artikel/edit/{id}(id=${article.id})}">
                <button class="ui blue button">
                    <i class="edit icon"></i>Artikel bearbeiten
                </button>
            </a>
        </div>
    </div>

    <!-- Delete button -->
        <div class="column">
            <a th:href="@{/artikel/delete/{id}(id=${article.id})}">
                <button class="ui red button right floated">
                    <i class="trash icon"></i>Artikel löschen
                </button>
            </a>
        </div>

</div>


</body>
</html>