<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title th:text="#{home.title}">Gym</title>

</head>
<body>
<div class="ui container">
    <header>
        <h1>Fitness Second</h1>
    </header>
    <nav th:include="navigation :: navigation"></nav>

    <h2> Welcome to Fitness Second</h2>

    <!-- All Information -->
    <div class="ui container">
        <p style="text-align: left; display:flex; flex-direction: column; align-items: center">
        <h2>Join us and become a member now</h2>
        Opening Times: <span th:text="${openingTimes}"></span><br>
        Contract Term: <span th:text="${contractTerm}"></span> Months<br>
        Monthly Fees: <span th:text="${monthlyFees}"></span> €<br>
        Advertising Bonus: <span th:text="${advertisingBonus}"></span> €<br>
    </div>
</div>

<!-- Button to edit -->
<a href="/studio" sec:authorize="hasAnyRole('ROLE_BOSS')">
    <button> Edit studio</button>
</a>

<!-- Hello -->
<p sec:authorize="isAuthenticated()" th:text="${'Hallo ' + #authentication?.name}">Hallo Nutzer</p>

</body>
</html>