<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <title th:text="#{home.title}">Gym</title>

</head>
<body>


<nav th:include="navigation :: navigation"></nav>
<nav th:include="toggle :: toggle"></nav>

<header>

    <h1 class="text middle">
        <span>F</span>
        <span class="hidden">i</span>
        <span class="hidden">t</span>
        <span class="hidden">n</span>
        <span class="hidden">e</span>
        <span class="hidden">s</span>
        <span class="hidden">s&nbsp;</span>
        <span>S</span>
        <span class="hidden">e</span>
        <span class="hidden">c</span>
        <span class="hidden">o</span>
        <span class="hidden">n</span>
        <span class="hidden">d</span>
    </h1>
    <div class="container">
        <span class="text1">Willkommen bei</span>
        <span class="text2" th:text="${studioName.toString()}"></span>
    </div>
</header>


<h2 sec:authorize="isAuthenticated()" th:text="${'Schön dich wiederzusehen ' + #authentication?.name} + '!'">
</h2>
<br/>

<div class="ui two column centered grid">
    <div class="column">

        <div class="ui two column very relaxed stackable grid">
            <div class="column">
                <a href="studio" sec:authorize="hasRole('BOSS')">
                    <!-- Button to edit -->
                    <button class="btn" id="sbmbutton">Studio Bearbeiten</button>
                </a>
            </div>

            <div sec:authorize="hasRole('BOSS')" class="middle aligned column">
                <a th:href="@{/newStaff}" sec:authorize="hasAnyRole('ROLE_BOSS')">
                    <!-- Button to add staff -->
                    <button class="btn" id="addbutton"> Mitarbeiter hinzufügen</button>
                </a>
            </div>

        </div>
    </div>

</div>

<h1></h1>
<div class="ui container">

    <div class="ui container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque feugiat lacinia facilisis.
            Nulla pellentesque dui diam, eu volutpat arcu lacinia in.
            Praesent semper libero ac elit porta, ut tristique lorem convallis.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Curabitur hendrerit ullamcorper ante eu tincidunt.
        </p>
        <p>
            Ut congue lectus nec tortor luctus, rhoncus fringilla nisi gravida.
            Sed a libero at augue laoreet tempus eget eu lorem. Donec nec elementum odio, sed eros urna varius orci,
            nec fringilla est nibh vel lorem. Suspendisse potenti.
            Donec est tellus, venenatis nec dignissim et, viverra eget nisi.
        </p>
    </div>
</div>
<h1></h1>
<div class="ui container"
     style="position:relative; bottom: 50px; text-align: center; background: rgba(210,225,247,0.67); padding: 10px; ">
    <h3>Unsere Öffnungszeiten : </h3>

    <div>
        <textarea rows="9" cols="31" readonly th:text="${openingTimes}"></textarea>
    </div>
    <h3>Alle Informationen : </h3>
    <label>Adresse:</label> <label th:text="${address}"></label> <br>
    <label>Werbebonus:</label> <label th:text="${advertisingBonus}"></label> <label>€</label> <br>
    <div>
        <div th:each="contract : ${contractList}">
            <label th:text="${contract.name}">Name</label>: <label th:text="${contract.price}">Preis</label>
            <label>(Vertragslaufzeit:</label> <label th:text="${contract.duration}">Dauer</label><label>
            Tagen)</label><br>
        </div>
    </div>
</div>

</body>
</html>

