<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/login.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <title th:text="#{home.title}">Gym</title>
</head>
<body>
<div class="login-box">
    <header>
        <h1>Login</h1>
    </header>


    <form class="ui form" role="form" th:action="@{/login}" method="post">

        <div class="txtb">
            <i class="fas fa-user"></i>
            <input type="text" id="username" name="username">
            <span data-placeholder="Benutzername"></span>
        </div>

        <div class="txtb">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" name="password">
            <span data-placeholder="Passwort"></span>
        </div>

        <input type="submit" class="btn" value="Anmelden">
        <div class="bottom-text">
           Noch kein Mitglied? <a th:href="@{~/register}"> Registrieren</a>
        </div>

    </form>
</div>
<script type="text/javascript">
    $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
    });

    $(".txtb input").on("blur",function(){
        if($(this).val() == "")
            $(this).removeClass("focus");
    });

</script>
</body>
</html>