<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/dropdown.css}"/>
</head>
<body>
<nav th:fragment="navigation">
    <div class="ui menu">

        <a class="item" href="index.html" th:href="@{/}"
           th:text="#{homePage.title}">Home</a>

        <a class="item" href="memberDetail.html" th:href="@{/member/home}" sec:authorize="hasRole('MEMBER')"
           th:text="#{nav.member.home}">Home</a>
        <div class="ui simple dropdown item" sec:authorize="hasRole('BOSS')">
            Adminbereich
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="members.html" th:href="@{/admin/members}"
                   sec:authorize="hasRole('BOSS') or hasRole('STAFF')"
                   th:text="#{nav.admin.members}">Mitglieder</a>

                <a class="item" href="contracts.html" th:href="@{/admin/contracts}"
                   sec:authorize="hasRole('BOSS') or hasRole('STAFF')"
                   th:text="#{nav.admin.contracts}">Verträge bearbeiten</a>
            </div>
        </div>

        <a class="item" href="roster.html" th:href="@{/roster}" sec:authorize="hasRole('BOSS') or hasRole('STAFF')"
           th:text="#{roster.title}">Dienstplan</a>

        <a class="item" href="staffDetail.html" th:href="@{/staff}" sec:authorize="hasRole('STAFF')"
           th:text="#{staffDetail.title}">Benutzerkonto</a>

        <div class="ui simple dropdown item" sec:authorize="hasRole('STAFF')">
            Theke Verwaltung
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="catalog.html" th:href="@{/catalog}" sec:authorize="hasRole('STAFF')"
                   th:text="#{catalog.title}">Artikel</a>
                <a class="item" href="orders.html" th:href="@{/orders}">Bestellungen</a>
                <a class="item" href="stock.html" th:href="@{/stock}">Lager</a>
                <a class="item" href="sell_catalog.html" th:href="@{/sell_catalog}"
                   th:text="#{sell_catalog.title}">Artikel verkaufen</a>

            </div>
        </div>
        <div class="right menu">
            <a class="item" th:href="@{/login}" sec:authorize="!isAuthenticated()" th:text="#{nav.login}">Login</a>
            <form class="item" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button type="submit" class="ui button" th:text="#{nav.logout}">Logout</button>
            </form>
        </div>
    </div>
    <br/>
</nav>
</body>
</html>