<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{register.title}, ~{::register})">
</html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="register">
    <div class="ui container" id="container-label">
        <form method="post" role="form" class="ui form" id="form" th:action="@{/register}" th:object="${form}">
            <h2>Benutzerdaten</h2>
            <fieldset>
            <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
                <p>Einige Angaben sind nicht korrekt.</p>
            </div>

            <div class="field">
                <label th:text="#{register.firstName}" for="firstName">Vorname</label>
                <input id="firstName" name="address" th:field="*{firstName}" th:errorclass="fieldError" type="text"
                       required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    <p>Der Vorname darf nicht leer sein</p>.
                </div>
            </div>

            <div class="field">
                <label th:text="#{register.lastName}" for="lastName">Nachname</label>
                <input id="lastName" name="address" th:field="*{lastName}" th:errorclass="fieldError" type="text"
                       required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{lastName}">
                    <p>Der Nachname darf nicht leer sein.</p>
                </div>
            </div>

            <div class="field">
                <label th:text="#{register.email}" for="email">Email</label>
                <input id="email" name="email" th:field="*{email}" th:errorclass="fieldError" type="text"
                       required="required">
                <div class="ui negative message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    <p>Email bereits vergeben.</p>
                </div>
            </div>

            <div class="field">
                <label for="userName">Login Name</label>
                <input id="userName" name="name" th:field="*{userName}" th:errorclass="fieldError" type="text"
                       required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
                    <p>Der Name darf nicht leer sein.</p>
                </div>
            </div>

            <div class="field">
                <label th:text="#{register.password}" for="password">Passwort</label>
                <input id="password" name="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                       required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    <p> Das Passwort darf nicht leer sein. </p>
                </div>
            </div>
</fieldset>
            <h2>Kontodaten</h2>
            <fieldset>
            <div class="field">
                <label for="iban">IBAN</label>
                <input id="iban" name="iban" th:field="*{iban}" th:errorclass="fieldError" type="text"
                       required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('iban')}" th:errors="*{iban}">
                    <p>IBAN darf nicht leer sein.</p>
                </div>
            </div>

            <div class="field">
                <label for="bic">BIC</label>
                <input id="bic" name="bic" th:field="*{bic}" th:errorclass="fieldError" type="text"
                       required="required"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('bic')}" th:errors="*{bic}">
                    <p>BIC darf nicht leer sein.</p>
                </div>
            </div>
</fieldset>
            <h2>Vertrag</h2>
            <fieldset>
            <label for="contract">Vertrag auswählen</label>
            <a th:href="@{/contract_information}" target="_blank">Details</a>
            <select id="contract" th:field="*{contract}">
                <option th:each="contract : ${contractList}"
                        th:value="${contract.contractId}"
                        th:text="${contract.name}">leer
                </option>
            </select><br/>

            <div class="field">
                <label for="bonusCode">Bonus Code</label>
                <input id="bonusCode" name="bonusCode" th:field="*{bonusCode}" th:errorclass="fieldError"
                       type="text"/><br/>
                <div class="ui negative message" th:if="${#fields.hasErrors('bonusCode')}" th:errors="*{bonusCode}">
                    <p>Bonus Code nicht gefunden.</p>
                </div>
            </div>
            </fieldset>
            <br>
            <button id="addbutton" type="submit" class="ui button"><b th:text="#{register.submit}"></b></button>
        </form>
    </div>
</div>
</html>