<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title th:text="#{register.title}">Registrierung</title>
</head>
<body>
<div class="ui container">
    <nav th:include="navigation :: navigation"></nav>
    <header>
        <h1 th:text="#{register.title}">Registrierung</h1>
    </header>

    <form method="post" role="form" class="ui form" id="form" th:action="@{/register}" th:object="${form}">
        <h2>Benutzerdaten</h2>

        <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
            <p>Einige Angaben sind nicht korrekt.</p>
        </div>

        <div class="field">
            <label th:text="#{register.firstName}" for="firstName">Vorname</label>
            <input id="firstName" name="address" th:field="*{firstName}" th:errorclass="fieldError" type="text"
                   required="required"/><br/>
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Der Vorname darf nicht leer sein.</p>
        </div>

        <div class="field">
            <label th:text="#{register.lastName}" for="lastName">Nachname</label>
            <input id="lastName" name="address" th:field="*{lastName}" th:errorclass="fieldError" type="text"
                   required="required"/><br/>
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{lastName}">Der Nachname darf nicht leer sein.</p>
        </div>

        <div class="field">
            <label for="userName">Login Name</label>
            <input id="userName" name="name" th:field="*{userName}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
                <p>Der Name darf nicht leer sein.</p>
            </div>
        </div>

        <div class="field">
            <label th:text="#{register.password}" for="password">Passwort</label>
            <input id="password" name="password" th:field="*{password}" th:errorclass="fieldError" type="password"
                   required="required"/><br/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Das Passwort darf
                nicht leer sein.</p>
        </div>

        <h2>Kontodaten</h2>

        <div class="field">
            <label for="iban">IBAN</label>
            <input id="iban" name="iban" th:field="*{iban}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('iban')}" th:errors="*{iban}">
                <p>IBAN darf nicht leer sein.</p>
            </div>
        </div>

        <div class="field">
            <label for="bic">BIC</label>
            <input id="bic" name="bic" th:field="*{bic}" th:errorclass="fieldError" type="text" required="required"/><br/>
            <div class="ui negative message" th:if="${#fields.hasErrors('bic')}" th:errors="*{bic}">
                <p>BIC darf nicht leer sein.</p>
            </div>
        </div>

        <h2>Vertrag auswählen</h2>
        <select th:field="*{contract}">
            <option th:each="contract : ${contractList}"
                    th:value="${contract.contractId}"
                    th:text="${contract.name}">leer</option>
        </select><br/>
        <button type="submit" class="ui button" th:text="#{register.submit}">Registrieren</button>
    </form>
</div>
</body>
</html>