<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{roster.new.title}, ~{::roster})"></html>

<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

</head>

<div th:fragment="roster">
    <div class="ui container">


        <form method="post" role="form" class="ui form" id="form" th:action="@{/roster/newrosterentry}"
              th:object="${form}">

            <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
                <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
            </div>

            <div class="field">
                <label th:text="#{roster.staff}" for="staff">Mitarbeiter</label>
                <select class="form-control" th:field="*{staff}" id="staff">
                    <option th:each="staff : ${staffs}" th:value="${staff.staffId}"
                            th:text="${staff.toString()}"></option>
                </select>
            </div>

            <div class="field">
                <label th:text="#{roster.role}" for="role">Rolle</label>
                <select class="form-control" th:field="*{role}" id="role">
                    <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
                </select>
            </div>

            <div class="field">
                <label th:text="#{roster.day}" for="day">Tag</label>
                <select class="form-control" th:field="*{day}" id="day" required>
                    <option value="0">Montag</option>
                    <option value="1">Dienstag</option>
                    <option value="2">Mittwoch</option>
                    <option value="3">Donnerstag</option>
                    <option value="4">Freitag</option>
                    <option value="5">Samstag</option>
                    <option value="6">Sonntag</option>
                </select>
            </div>

            <div class="field">
                <label th:text="#{roster.time}" for="time">Zeit</label>
                <select multiple size="8" class="form-control" th:field="*{times}" id="time">
                    <option th:each="time : ${times}" th:value="${time.getTime()}" th:text="${time.getTime()}"></option>
                </select>
            </div>

            <button type="submit" class="ui button" th:text="#{roster.create}">Registrieren</button>
        </form>
    </div>

</div>
</html>