<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <title th:text="#{home.title}">Dienstplaneintrag</title>
</head>

<body>
<header>
    <h1 th:text="#{roster.title}">Neuen Dienstplaneintrag erstellen</h1>
</header>
<nav th:include="navigation :: navigation"></nav>


<div class="card">

    <div class="card-header">
        <h4 th:text="${rosterEntry.getStaff().toString()}" class="card-title"></h4>
    </div>

    <div class="card-body">
        <blockquote class="entrytext" th:text="${rosterEntry.roleToString()}"></blockquote>
    </div>

    <div class="field">
        <label th:text="#{roster.role}" for="role">Rolle</label>
        <select id="role" class="ui fluid dropdown">
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role}" th:selected="${role==rosterEntry.roleToString()}"></option>
        </select>
    </div>

    <div class="card-footer">
        <footer class="date" th:text="${day} + ' '  + ${shift}">Datum</footer>
    </div>

    <a class="ui blue button">Bearbeiten</a> <a class="ui red button" th:href="@{/roster/detail/delete/{slot}/{id}/(slot=${day},id=${rosterEntry.rosterEntryId})}">Löschen</a>
</div>

</body>
</html>