<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{roster.title}, ~{::roster})"></html>

<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

</head>

<div th:fragment="roster">
    <div class="ui container">

        <!---<h1>Dienstplan</h1>--->

        <select class="ui dropdown" id="staff" onchange="location = this.value;">
            <option th:value="@{/roster}">Alle Mitarbeiter</option>
            <option th:each="staff : ${staffs}" th:value="@{/roster/{id}/(id=${staff.staffId})}"
                    th:text="${staff.toString()}" th:selected="${filterStaff==staff.staffId}"></option>
        </select>
        <br>
        <br>

        <p class="ui primary basic button">Trainer</p>
        <p class="ui positive basic button">Thekenkraft</p>

        <table class="ui selectable celled table">
            <thead>
            <tr>
                <th>Zeit</th>
                <th>Montag</th>
                <th>Dienstag</th>
                <th>Mittwoch</th>
                <th>Donnerstag</th>
                <th>Freitag</th>
                <th>Samstag</th>
                <th>Sonntag</th>

            </tr>
            </thead>
            <th:block th:each="tableRow : ${roster}">
                <tr>
                    <td th:text="${tableRow.getTime()}"></td>
                    <th:block th:each="slot: ${tableRow.getSlots()}">
                        <td>
                            <th:block th:each="entry: ${slot.getRosterEntries()}">

                                <div th:if="${filter && entry.getStaff().getStaffId() == filterStaff}">
                                    <a th:if="${entry.isTrainer() }" class="ui primary basic button"
                                       th:text="${entry.toString()}"
                                       th:href="@{/roster/detail/{day}/{slot}/{id}/(day=${tableRow.tableRowId},slot=${slot.slotId},id=${entry.rosterEntryId})}"></a>
                                    <a th:unless="${entry.isTrainer()}" class="ui positive basic button"
                                       th:text="${entry.toString()}"
                                       th:href="@{/roster/detail/{day}/{slot}/{id}/(day=${tableRow.tableRowId},slot=${slot.slotId},id=${entry.rosterEntryId})}"></a>
                                </div>

                                <div th:unless="${filter}">
                                    <a th:if="${entry.isTrainer()}" class="ui primary basic button"
                                       th:text="${entry.toString()}"
                                       th:href="@{/roster/detail/{day}/{slot}/{id}/(day=${tableRow.tableRowId},slot=${slot.slotId},id=${entry.rosterEntryId})}"></a>
                                    <a th:unless="${entry.isTrainer()}" class="ui positive basic button"
                                       th:text="${entry.toString()}"
                                       th:href="@{/roster/detail/{day}/{slot}/{id}/(day=${tableRow.tableRowId},slot=${slot.slotId},id=${entry.rosterEntryId})}"></a><br>
                                </div>


                            </th:block>
                        </td>
                    </th:block>
                </tr>
            </th:block>

        </table>

        <a class="fluid ui button" href="/roster/newrosterentry">Eintrag hinzuf&uuml;gen</a><br>

    </div>
</div>

</html>