<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <title th:text="#{home.title}">Gym</title>
</head>
<body>

<h1>Dienstplan</h1>

<table class="ui celled table">
    <thead>
    <tr>
        <th>Mitarbeiter</th>
        <th>Von</th>
        <th>Bis</th>
        <th>Job</th>
    </tr>
    </thead>
    <th:block th:each="rosterEntry : ${roster}">
        <tr>
            <td th:text="${rosterEntry.staff}">A Smoke Test'</td>
            <td th:text="${rosterEntry.startTime} ">A Smoke Test'</td>
            <td th:text="${rosterEntry.endTime}">A Smoke Test'</td>
            <td th:text="${rosterEntry.role}">A Smoke Test'</td>
        </tr>
    </th:block>
</table>
</body>
</html>