<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="template(title, content)">

<html lang="en">
<head>
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" type="text/css"/>

    <title th:text="${title}">Template Title</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
</head>
<body>
<div class="ui masthead vertical segment">
    <div class="ui container">
        <nav th:include="navigation :: navigation"></nav>
        <header>
            <h1 th:text="${title}">Template Title</h1>
        </header>
        <br>
    </div>
</div>
<br>
<div></div>
</body>
</html>