<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="template(title, content)">

<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/catalog.css}"/>
</head>
<body>
<div>
    <div class="ui container">
        <nav th:include="navigation :: navigation"></nav>
        <nav th:include="toggle :: toggle"></nav>
        <header>
            <h1 th:text="${title}">Template Title</h1>
        </header>
    </div>
</div>
<br>
<div></div>
</body>
</html>