<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{staffDetail.title}, ~{::staffDetail})"></html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
</head>

<div th:fragment="staffDetail">
<div class="ui container">
    <div class="item">
        <h2 class="header">Eigene Daten</h2>
        <p>Name:
            <span th:text="${staff.firstName}">Vorname</span>
            <span th:text="${staff.lastName}">Nachname</span>
        </p>
        <p>ID:
            <span th:text="${staff.getStaffId()}">0000</span>
        </p>
        <h2 class="header">Gehalt</h2>
        <form class="ui form" method="post" th:action="@{/printPdfPayslip}">
            <p>Monatlich schuftest du bei uns für
                <span th:text="${staff.getSalary()}"></span>
                 .
            </p>
            <button type="submit" class="ui button" th:text="#{staffDetail.printPdfPayslip}">Rechnung anzeigen</button>
        </form>
    </div>
</div>

<div class="column">

</div>

</html>