<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template('Studio bearbeiten', ~{::site_content})"></html>

<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/template.css}"/>
</head>
<body>

<div class="ui container">
    <form method="post" role="form" class="ui form" id="form" th:action="@{/studio}" th:object="${studioForm}">

        <fieldset>
            <text>Öffnungszeiten</text>
            <label for="times"></label>
            <textarea id="times" rows="8" cols="50" th:field="*{openingTimes}" required="required"></textarea>
        </fieldset>


        <fieldset>
            <text>Adresse</text>
            <label for="address"></label><input type="text"
                                                th:field="*{address}"
                                                id="address"
                                                required/>
        </fieldset>

        <fieldset>
            <text>Name</text>
            <label for="name"></label><input type="text"
                                                th:field="*{name}"
                                                id="name"
                                                required/>
        </fieldset>

        <fieldset>
            <text>Werbebonus</text>
            <label for="advertisingBonus"></label><input type="number" step="0.01"
                                                         th:field="*{advertisingBonus}"
                                                         id="advertisingBonus"
                                                         required/>
        </fieldset>
        <br>

        <button class="ui right floated button" name="submit" type="submit" id="sbmbutton" data-submit="...Sending">
            <b class="lbl">SPEICHERN</b>
        </button>
    </form>
</div>


</body>
</html>