<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <title th:text="#{register.title}">Registrierung</title>

</head>
<body>


<div class="container">
    <form method="post" role="form" class="ui form" id="form" th:action="@{/studio}" th:object="${studioForm}">

        <h3>Hello Boss</h3>
        <h4>May the force be with you</h4>

        <fieldset>
            <Label>Opening Times</Label><label for="openingTimes"></label><input type="text" th:field="*{openingTimes}"
                                                                                 id="openingTimes" tabindex="2"
                                                                                 required/>
        </fieldset>

        <fieldset>
            <Label>Contract term</Label><label for="contractTerm"></label><input type="number"
                                                                                 th:field="*{contractTerm}"
                                                                                 id="contractTerm"
                                                                                 tabindex="1" required/>
        </fieldset>

        <fieldset>
            <Label>Monthly Fees</Label><label for="monthlyFees"></label><input type="number" th:field="*{monthlyFees}"
                                                                               id="monthlyFees" required/>
        </fieldset>

        <fieldset>
            <Label>Advertising Bonus</Label> <label for="advertisingBonus"></label><input type="number"
                                                                                          th:field="*{advertisingBonus}"
                                                                                          id="advertisingBonus"
                                                                                          required/>
        </fieldset>

        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
    </form>
</div>


</body>
</html>