<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{contracts.title}, ~{::contracts})">
</html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contracts">
    <div class="ui container">
        <a th:href="@{/admin/contract/create}">
            <button id="addbutton" class="ui blue button">
                <label>Vertrag erstellen</label>
            </button>
        </a>
        <table class="ui celled table" id="catalog">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Preis</th>
                <th>Laufzeit (in Tagen)</th>
                <th> </th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="contract : ${contractList}">
                <td th:text="${contract.contractId}">ID</td>
                <td th:text="${contract.name}">Name</td>
                <td th:text="${contract.description}">Beschreibung</td>
                <td th:text="${contract.price}">Preis</td>
                <td th:text="${contract.duration}">Dauer</td>
                <td>
                    <a th:href="@{/admin/contract/detail/{id}/(id=${contract.contractId})}">
                        <button class="ui button" type="submit" style="background-color:transparent">
                            <div class="btn" style="font-size: 17px" >Bearbeiten</div>
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>