<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{contract.create.title}, ~{::contract_create})">
</html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contract_create">
    <div class="ui container" id="container-label">
        <form method="post" role="form" class="ui form" id="form" th:action="@{/admin/contract/create}"
              th:object="${form}">
<div class="ui segment">
            <div class="field">
                <label for="name">Name</label>
                <input id="name" th:field="*{name}" th:errorclass="fieldError" type="text"
                       required="required"/><br/>
            </div>

            <div class="field">
                <label for="description">Beschreibung</label>
                <input id="description" name="description" th:field="*{description}" th:errorclass="fieldError"
                       type="text"
                       required="required"/><br/>
            </div>

            <div class="field">
                <label for="price">Preis</label>
                <input id="price" name="price" th:field="*{price}" th:errorclass="fieldError" type="number" step="0.01"
                       min="0.01" required="required"/><br/>
            </div>

            <div class="field">
                <label for="duration">Laufzeit (in Tagen)</label>
                <input id="duration" name="duration" th:field="*{duration}" th:errorclass="fieldError" type="number"
                       step="1" min="1"
                       required="required"/><br/>
            </div>

            <button id="addbutton" type="submit" class="ui button"><b>Erstellen</b></button>
</div></form>
    </div>
</div>
</html>