<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/resources/css/memberDetail.css" type="text/css"/>
    <title>Verträge</title>
</head>
<body>

<div class="ui container">
    <div class="header center aligned">
        <h1>Unsere Verträge</h1>
    </div>
    <br/>
    <nav th:include="navigation :: navigation"></nav>

    <div class="ui link cards" th:remove="all-but-first">
        <div class="ui card" th:each="contract : ${contractList}">
            <div class="header center aligned">
                <div th:text="${contract.name}">Vertrag</div>
            </div>
            <div class="content">
                <div class="description" th:text="${contract.description}">Beschreibung</div>
                <div class="price" th:text="${contract.price}">9.99 €</div>
                <div class="time">
                    <span>Mindestlaufzeit: </span>
                    <span th:text="${contract.duration}">100</span>
                    <span> Tage</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>