<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{contract.information.title}, ~{::contracts})">
</html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contracts">
    <div class="ui container">
        <div class="ui link cards" th:remove="all-but-first">
            <div class="ui card" th:each="contract : ${contractList}">
                <div class="header center aligned">
                    <div th:text="${contract.name}">Vertrag</div>
                </div>
                <div class="content">
                    <div class="description" th:text="${contract.description}">Beschreibung</div>
                    <div class="price" th:text="${contract.price}">9.99 €</div>
                    <div class="time">
                        <span>Mindestlaufzeit: </span>
                        <span th:text="${contract.duration}">100</span>
                        <span> Tage</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>