<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{roster.detail.title}, ~{::roster})"></html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

</head>

<div th:fragment="roster">
    <div class="ui container">


        <div class="card">

            <form method="post" role="form" class="ui form" id="form" th:action="@{/roster/editEntry/{id}/(id = ${rosterEntry.rosterEntryId})}" th:object="${form}">



                <p class="ui negative message" th:if="${#fields.hasErrors('*')}" th:each="err : ${#fields.errors('*')}"
                   th:text="${err}">
                </p>

                <div class="field">
                    <input class="form-control" name="staff" type="hidden" id="staff"
                           th:value="${rosterEntry.getStaff().staffId}"/>
                    <b><span th:text="${rosterEntry.getStaff().toString()}"></span></b>
                </div>

                <div th:if="${rosterEntry.getTraining() != -1}">
                    <b><span>Training: </span></b>
                    <a th:if="${rosterEntry.getTraining() != -1}" th:href="@{/training/details/{id}/(id=${rosterEntry.training})}">Siehe Details</a>
                </div>

                <div class="field">
                    <input class="form-control" name="week" type="hidden" id="week"
                           th:value="${week}"/>
                    <b><span>Woche: </span></b>
                    <span th:text="${week}"></span>
                </div>

                <div class="field">
                    <input class="form-control" name="times" type="hidden" id="times" th:value="${row.toString()}"/>
                    <span th:text="${row.toString()}"></span>
                </div>

                <div class="field">
                    <input class="form-control" th:name="day" type="hidden" id="day"
                           th:value="${day}"/>
                </div>

                <div>
                    <label th:text="#{roster.role}" for="role">Rolle</label>
                    <select id="role" name="role" class="ui fluid dropdown">
                        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"
                                th:selected="${role==rosterEntry.roleToString()}"></option>
                    </select>
                </div>

                <button th:if="${rosterEntry.getTraining() == -1}" type="submit" class="ui blue button">Speichern</button>
                <button th:unless="${rosterEntry.getTraining() == -1}" type="submit" class="ui blue button">Zurück</button>
                <a th:if="${rosterEntry.getTraining() == -1}" class="ui red button"
                   th:href="@{/roster/detail/delete/{week}/{shift}/{day}/{id}/(week=${week},shift=${shift},day=${day},id=${rosterEntry.rosterEntryId})}">Löschen</a>

            </form>


        </div>
    </div>
</div>
</html>