<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{roster.title}, ~{::roster})"></html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link rel="stylesheet" type="text/css" th:href="@{resources/css/roster.css}"/>

</head>

<div th:fragment="roster">
    <div class="ui container">

        <!---<h1>Dienstplan</h1>--->

        <select class="ui dropdown" id="staff" onchange="location = this.value;">
            <option th:value="@{/roster/{week}/(week=${week})}">Alle Mitarbeiter</option>
            <option th:each="staff : ${staffs}" th:value="@{/roster/{week}/{id}/(week=${week},id=${staff.staffId})}"
                    th:text="${staff.toString()}" th:selected="${filterStaff==staff.staffId}"></option>
        </select>
        <select class="ui dropdown" id="weeks" onchange="location = this.value;">
            <option th:each="week1 : ${weeks}" th:value="@{/roster/{week}/(week=${week1})}"
                    th:text="${week1}" th:selected="${week1==week}"></option>
        </select>

        <br>
        <br>

        <p class="ui primary basic button">Trainer</p>
        <p class="ui positive basic button">Thekenkraft</p>

        <table class="ui selectable celled table">
            <thead>
            <tr>
                <th>Zeit</th>
                <th:block th:each="head : ${header}">
                    <th th:text="${head}"></th>
                </th:block>

            </tr>
            </thead>
            <th:block th:each="tableRow : ${roster}">
                <tr>
                    <td th:text="${tableRow.toString()}"></td>
                    <th:block th:each="slot: ${tableRow.getSlots()}">
                        <td>
                            <th:block th:each="entry: ${slot.getEntries()}">

                                <div th:if="${filter && entry.getStaff().getStaffId() == filterStaff}">
                                    <a th:if="${entry.isTrainer() }" class="ui primary basic button"
                                       th:text="${entry.toString()}"
                                       th:href="@{/roster/detail/{week}/{shift}/{day}/{id}/(week=${week}, shift=${slot.getCoordinates()[0]}, day=${slot.getCoordinates()[1]}, id=${entry.rosterEntryId})}"></a>
                                    <a th:unless="${entry.isTrainer()}" class="ui positive basic button"
                                       th:text="${entry.toString()}"
                                       th:href="@{/roster/detail/{week}/{shift}/{day}/{id}/(week=${week}, shift=${slot.getCoordinates()[0]}, day=${slot.getCoordinates()[1]}, id=${entry.rosterEntryId})}"></a>
                                </div>

                                <div th:unless="${filter}">
                                    <a th:if="${entry.isTrainer()}" class="ui primary basic button"
                                       th:text="${entry.toString()}"
                                       th:href="@{/roster/detail/{week}/{shift}/{day}/{id}/(week=${week}, shift=${slot.getCoordinates()[0]}, day=${slot.getCoordinates()[1]}, id=${entry.rosterEntryId})}"></a>
                                    <a th:unless="${entry.isTrainer()}" class="ui positive basic button"
                                       th:text="${entry.toString()}"
                                       th:href="@{/roster/detail/{week}/{shift}/{day}/{id}/(week=${week}, shift=${slot.getCoordinates()[0]}, day=${slot.getCoordinates()[1]}, id=${entry.rosterEntryId})}"></a>
                                </div>




                            </th:block>
                        </td>
                    </th:block>
                </tr>
            </th:block>

        </table>

        <a class="fluid ui button" th:href="@{/roster/newRosterEntry/{week}/(week=${week})}">Eintrag hinzuf&uuml;gen</a><br>

    </div>
</div>

</html>