<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template(#{selling.title}, ~{::cart_items})"></html>

<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/template.css}"/>
</head>

<div th:fragment="cart_items">
    <div class="ui container">
        <div class="ui header">
            <h2 th:if="${!cart.isEmpty()}" th:text="#{cart_items.title}">Warenkorb</h2>
            <h2 th:if="${cart.isEmpty()}" th:text="#{cart.empty}">Leer</h2>
            <div class="ui right floated" style="float: right;">

                <a class="ui button" id="sbmbutton" th:href="@{/sell_catalog}">
                    <i class="lbl list icon"></i>
                    <label th:text="#{sell_catalog.title}">Artikeluebersicht</label>
                </a>
                <a  class="ui button" id="addbutton"  th:if="${!cart.empty}" th:href="@{/checkout}">
                    <i class="lbl check icon"></i>
                    <label th:text="#{cart_items.checkout}">Bezahlen</label>
                </a>
            </div>
            <br><br>

        </div>
        <br>
        <div class="container" th:each="cartItem : ${cart}">
            <div class="ui segment">
                <div class="ui six column grid">

                    <text class="ui left aligned left floated column">
                        <text class="ui-widget-header" th:text="${cartItem.getProduct().name}" style="font-weight:bold">Spinatsalat</text>
                    </text>
                    <div class="ui right aligned column">
                        <div class="ui-widget-content" th:text="'Anzahl: ' + ${cartItem.getQuantity()}">Anzahl: 12</div>
                    </div>
                    <div class="ui right aligned column">
                        <div class="ui-widget-header" th:text="${cartItem.getPrice()}">
                            12,40 EUR
                            <div class="ui sub header">-12%</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <div class="ui right floated menu" style="background-color:transparent; border:none;box-shadow: none">
        <div class="ui-widget-header" th:if="${!cart.isEmpty()}" th:text="#{cart_items.sum}+' '+${cart.getPrice()}"
             style="font-size:23px">
            Summe: EUR 112.12</div>
        </div>

    </div>
</div>
</html>
