<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template('Katalog', ~{::site_content})"></html>

<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/template.css}"/>
</head>

<div th:fragment="site_content">
    <div class="ui container">
        <table id="catalog" class="ui striped table">
            <thead>
            <tr>
                <th>Artikelname</th>
                <th>Beschreibung</th>
                <th>Art</th>
                <th>Mindestmenge</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each=" article : ${catalog}">
                <td><a th:href="@{/article/{id}(id=${article.id})}" th:text="${{article.name}}">Artikelname</a></td>
                <td th:text="${article.description}">Beschreibung</td>
                <td th:text="${article.type}">Art</td>
                <td th:text="${article.sufficientQuantity.getAmount().intValue()}">Mindestmenge</td>
            </tr>


            </tbody>

        </table>
        <br>
        <!-- Button -->

        <div class="column">
            <a th:href="@{/article}" style="background-color:transparent">
                <button class="ui right button" id="addbutton">
                    <i class="plus icon"></i><label>Artikel hinzufügen</label>
                </button>
            </a>
        </div>
    </div>
</div>
</html>