<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template('Warenkorb abschließen', ~{::site_content})"></html>

<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/template.css}"/>
</head>

<div th:fragment="site_content">

    <div class="ui container">
        <form method="post" role="form" id="form" th:action="@{/checkout}"
              th:object="${form}">
            <h2 th:text="'Summe: '+${cart.getPrice()}">
                Summe: EUR 13,37
            </h2>

            <div>

                <text>Kundennummer</text>
                <label for="customerId"></label><input class="uiinput" type="text"
                                                       th:field="*{customerId}"
                                                       id="customerId"
                                                       placeholder="z.B 2"
                                                       required/>
                <br>
                <br>
                <br>

                <text>Zahlungsart</text>
                <select class="uiinput" id="paymentMethod" th:field="*{paymentMethod}">
                    <option value="0">
                        Mit Guthaben bezahlen
                    </option>
                    <option value="1">
                        Bar bezahlen
                    </option>
                </select>
                <br>
                <br>

                <button class="ui button" id="sbmbutton" name="submit" type="submit" data-submit="...Sending"
                ><label>SUBMIT</label>
                </button>
            </div>
        </form>
    </div>
</div>
</html>