<!DOCTYPE html>

<html th:replace="site_template :: template(${article.name}, ~{::site_content})"
      xmlns:th="http://www.thymeleaf.org"></html>

<html th:remove="tag" xmlns:th="http://www.thymeleaf.org">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/css/toggle.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/css/template.css}" type="text/css"/>
</head>

<div th:fragment="site_content">
    <div class="ui container">
        <table class="ui celled table" id="catalog">
            <thead>
            <tr>
                <th></th>
                <th>Artikel</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Art</td>
                <td th:text="${article.type}">Art</td>
            </tr>
            <tr>
                <td>Preis</td>
                <td th:text="${{article.price}}">Preis</td>
            </tr>
            <tr>
                <td>Menge</td>
                <td th:text="${quantity}">Menge</td>
            </tr>
            </tbody>


        </table>
        <br>
        <!-- Edit button -->

        <div class="column">
            <a style="background-color:transparent" th:href="@{/article/detail/{id}(id=${article.id})}">
                <button class="ui button" id="sbmbutton">
                    <i class="edit icon"></i><label>Artikel berarbeiten</label>
                </button>
            </a>
            <a style="background-color:transparent" th:href="@{/article/restock/{id}(id=${article.id})}">
                <button class="ui button" id="sbmbutton">
                    <i class="edit icon"></i><label>Artikel aufstocken</label>
                </button>
            </a>
        </div>

        <!-- Delete button -->
        <form method="post" th:action="@{/article/delete/{id}(id=${article.id})}">
            <button class="ui button right floated" id="dltbutton">
                <i class="trash icon"></i><label>Artikel löschen</label>
            </button>
        </form>

    </div>
</div>
</html>