<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="site_template :: template('Artikel bearbeiten', ~{::site_content})"></html>

<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/template.css}"/>
</head>

<div th:fragment="site_content">
    <div class="ui container">
        <form method="post" role="form" class="ui form" id="form" th:action="@{/article/detail/{id}(id=${id})}"
              th:object="${form}">

            <fieldset>
                <text>Name</text>
                <label for="name"></label><input type="text" th:field="*{name}"
                                                 id="name"
                                                 required/>
            </fieldset>

            <fieldset>
                <text>Preis in Euro</text>
                <label for="price"></label><input type="number" th:field="*{price}"
                                                  id="price" step="0.01"
                                                  required/>
            </fieldset>

            <fieldset>
                <text>Art</text>
                <label for="type"></label><input type="text" th:field="*{type}"
                                                 id="type"
                                                 required/>
            </fieldset>

            <fieldset>
                <text>Beschreibung</text>
                <label for="description"></label><input type="text" th:field="*{description}"
                                                        id="description"
                                                        required/>
            </fieldset>


            <br>
            <br>

            <fieldset>
                <p>Rabatt vom (optional)</p><label for="startDiscount"></label>
                <input type="date"
                       th:field="*{startDiscount}"
                       id="startDiscount"/>
            </fieldset>

            <fieldset>
                <p>Rabatt in Prozent (optional)</p><label for="percentDiscount"></label>
                <input type="number" min="0" max="100" step="1" value="1" th:field="*{percentDiscount}"
                       id="percentDiscount"/>

            </fieldset>


            <fieldset>
                <p>Rabatt bis (optional)</p><label for="endDiscount"></label>
                <input type="date" th:field="*{endDiscount}" id="endDiscount"/>
            </fieldset>

            <br>
            <br>


            <fieldset>
                <text>Mindestvorrat</text>
                <label for="number"></label><input type="number"
                                                   th:field="*{sufficientQuantity}"
                                                   id="number"
                                                   required/>
            </fieldset>


            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>


</div>
</html>