<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <title>Artikel berarbeiten</title>
</head>
<body>
<nav th:include="navigation :: navigation"></nav>
<nav th:include="toggle :: toggle"></nav>

<div class="container">
    <form method="post" role="form" class="ui form" id="form" th:action="@{/article/detail/{id}(id=${id})}" th:object="${form}">

        <h2>Artikel berarbeiten</h2>

        <fieldset>
            <text>Name</text><label for="name"></label><input type="text" th:field="*{name}"
                                                                id="name"
                                                                required/>
        </fieldset>

        <fieldset>
            <text>Preis in Euro</text><label for="price"></label><input type="number" th:field="*{price}"
                                                                          id="price" step="0.01"
                                                                          required/>
        </fieldset>

        <fieldset>
            <text>Art</text><label for="type"></label><input type="text" th:field="*{type}"
                                                              id="type"
                                                              required/>
        </fieldset>

        <fieldset>
            <text>Beschreibung</text><label for="description"></label><input type="text" th:field="*{description}"
                                                                               id="description"
                                                                               required/>
        </fieldset>
        <fieldset>
            <text>Mindestvorrat</text><label for="number"></label><input type="number"
                                                                    th:field="*{sufficientQuantity}"
                                                                    id="number"
                                                                    required/>
        </fieldset>


        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
    </form>
</div>


</body>
</html>