<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="site_template :: template(#{selling.title}, ~{::sell_catalog})"></html>

<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<head th:remove="all">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/toggle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/template.css}"/>

</head>
<div th:fragment="sell_catalog">

<div class="ui container">
    <div class="ui header">
        <span th:text="#{sell_catalog.title}">Artikelübersicht</span>
        <a class="ui green right floated button"  th:href="@{/cart_items}">
            <i class="cart icon"></i>
            <span th:text="#{sell_catalog.cart_button_label}">Bestellung</span>
        </a>
    </div>
    <br>
    <div th:remove="all-but-first">
        <div class="container" th:each="item :${ inventory}">
            <form method="post" th:action="@{/addItemToCart}">
                <input name="pid" th:value="${item.getProduct().id}" type="hidden" value="0"/>
                <div class="ui segment">
                    <div class="ui grid">
                        <div class="ui three wide left aligned column">
                            <div class="ui header" th:text="${item.getProduct().name}">Spinatsalat</div>
                            <div th:text="#{sell_catalog.available}+' '+${{item.getQuantity()}}">Verfügbar: 42</div>
                        </div>
                        <div class="ui two wide center aligned column">
                            <div class="ui header" th:text="${item.getProduct().getPrice()}">
                                12,40 EUR

                            </div>
                            <div th:text="${item.getProduct().getDiscountString()}">-12%</div>

                        </div>
                        <div class="ui six wide right floated column">
                            <div class="ui secondary menu">
                                <div class="item">
                                    <input class="ui input" id="number" min="1" name="number" step="1" type="number"
                                           value="1"/>
                                </div>
                                <div class="item">
                                    <button class="ui button" type="submit">
                                        <a>Hinzufügen</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
</html>